{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}/static/images/no-image.jpg{% endif %}" 
            class="product-image img-fluid" 
            alt="{{ product.name }}">

    </div>
    <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p class="text-success fw-bold fs-4">{{ product.price }} руб.</p>
        <p>На складе: {{ product.stock }} шт.</p>
        <p>{{ product.description }}</p>
        
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="mt-4">
            {{ cart_product_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-3">
                <i class="bi bi-cart-plus"></i> Добавить в корзину
            </button>
        </form>
    </div>
</div>
{% endblock %}
